[submodule "PtychoNN"]
	path = PtychoNN
	url = https://github.com/mcherukara/PtychoNN
[submodule "PlotNeuralNet"]
	path = PlotNeuralNet
	url = https://github.com/HarisIqbal88/PlotNeuralNet.git
[submodule "notebooks/ePIE_recon_simulation"]
	path = notebooks/archive/ePIE_recon_simulation
	url = https://github.com/susannahammarberg/ePIE_recon_simulation.git
[submodule "ptycho/FRC"]
	path = ptycho/FRC
	url = git@github.com:hoidn/FRC.git
[submodule ".claude"]
	path = .claude
	url = git@github.com:hoidn/claude.git
