absl-py==1.2.0
accelerate==0.12.0
aggdraw==1.3.16
aiofiles==22.1.0
aiohttp==3.8.2
aiosignal==1.2.0
aiostream==0.4.5
alpaca-trade-api==2.3.0
anyio @ file:///tmp/build/80754af9/anyio_1644463572971/work/dist
appdirs==1.4.4
APScheduler==3.10.1
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569679365/work
asgiref==3.6.0
asteval==0.9.31
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==4.0.2
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==2.2.1
bayesian-optimization==1.2.0
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
bmix==1.0
braceexpand==0.1.7
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.2.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer==2.1.1
click==8.1.3
clip-anytorch==2.4.0
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
CoCa-pytorch==0.0.6
colorama==0.4.6
commonmark==0.9.1
cryptography==3.4.8
cssselect==1.1.0
cvxopt==1.3.0
cvxpy==1.3.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.0.0
cytoolz==0.11.0
dalle2-pytorch==1.10.5
dask @ file:///tmp/abs_994957d9-ec12-411f-b953-c010f9d489d10hj3gz4k/croots/recipe/dask-core_1658513209934/work
dateparser==1.1.2
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator==4.4.2
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
dm-tree==0.1.7
docarray==0.16.5
docker==6.0.0
EasyProcess==1.1
ecdsa==0.18.0
ecos==2.0.12
einops==0.4.1
einops-exts==0.0.3
ema-pytorch==0.0.10
embedding-reader==1.5.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
etils==0.8.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fabio==0.14.0
fake-useragent==0.1.11
fastapi==0.85.0
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
feedparser==6.0.10
filelock==3.8.0
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist==1.3.1
fsspec==2022.8.2
ftfy==6.1.1
future @ file:///tmp/build/80754af9/future_1607571303524/work
gast==0.4.0
gin-config==0.5.0
google-api-core==2.11.1
google-api-python-client==2.95.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
gpflow==2.5.2
graphviz==0.20.1
grpcio==1.56.2
grpcio-health-checking==1.47.0
grpcio-reflection==1.47.0
gviz-api==1.10.0
h11==0.13.0
h5py==3.7.0
hmmlearn==0.2.8
httplib2==0.22.0
httptools==0.5.0
hurst==0.0.5
ibapi==9.81.1.post1
ibeam==0.4.3
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagecodecs @ file:///tmp/build/80754af9/imagecodecs_1635529108216/work
imageio @ file:///tmp/abs_cd920173-f360-47c5-97b0-bf4d1076d5d4dvic0oys/croots/recipe/imageio_1658785036907/work
imageio-ffmpeg==0.4.8
immutabledict==3.0.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipykernel @ file:///opt/conda/conda-bld/ipykernel_1662361798230/work
ipython @ file:///opt/conda/conda-bld/ipython_1657652213665/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
jcloud==0.0.35
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
jina==3.13.2
jina-hubble-sdk==0.31.1
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
joblib==1.2.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1650025953207/work
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-core @ file:///opt/conda/conda-bld/jupyter_core_1651671229925/work
jupyter-server @ file:///tmp/abs_b88b31b8-83b9-476d-a46d-e563c421f38fvsnyi1ur/croots/recipe/jupyter_server_1658754481507/work
jupyter_client @ file:///opt/conda/conda-bld/jupyter_client_1662504365333/work
jupyterlab @ file:///tmp/abs_12f3h01vmy/croots/recipe/jupyterlab_1658907535764/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1650462180599/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
k3d==2.15.2
kaggle==1.5.16
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
kornia==0.6.7
krakenex==2.1.0
lark==1.1.2
libclang==14.0.6
llvmlite==0.40.0.dev0+53.g5f8737c
lmfit==1.2.2
locket @ file:///opt/conda/conda-bld/locket_1652903118915/work
lpips==0.1.4
lxml==4.9.1
lz4==4.0.2
Markdown==3.4.1
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///opt/conda/conda-bld/matplotlib-suite_1660167928326/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune @ file:///tmp/build/80754af9/mistune_1607364877025/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
monty==2022.9.9
moviepy==1.0.3
msgpack==1.0.3
multidict==5.2.0
multipledispatch==0.6.0
multiprocess==0.70.14
multitasking==0.0.11
munkres==1.1.4
nbclassic @ file:///opt/conda/conda-bld/nbclassic_1644943264176/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650290509967/work
nbconvert @ file:///opt/conda/conda-bld/nbconvert_1649751911790/work
nbformat @ file:///tmp/build/80754af9/nbformat_1649826788557/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847906199/work
networkx @ file:///opt/conda/conda-bld/networkx_1657784097507/work
nibabel==4.0.2
notebook @ file:///tmp/abs_abf6xa6h6f/croots/recipe/notebook_1659083654985/work
numba==0.56.3
numpy==1.23.0
oauth2client==4.1.3
oauthlib==3.2.0
openai==0.27.8
opencv-python-headless==4.7.0.68
opentelemetry-api==1.15.0
opentelemetry-exporter-otlp==1.15.0
opentelemetry-exporter-otlp-proto-grpc==1.15.0
opentelemetry-exporter-otlp-proto-http==1.15.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-instrumentation==0.36b0
opentelemetry-instrumentation-aiohttp-client==0.36b0
opentelemetry-instrumentation-asgi==0.36b0
opentelemetry-instrumentation-fastapi==0.36b0
opentelemetry-instrumentation-grpc==0.36b0
opentelemetry-proto==1.15.0
opentelemetry-sdk==1.15.0
opentelemetry-semantic-conventions==0.36b0
opentelemetry-util-http==0.36b0
opt-einsum==3.3.0
osqp==0.6.2.post8
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.4
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parse==1.19.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathos==0.3.0
pathspec==0.10.1
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
ply==3.11
portalocker==2.7.0
powerbox==0.7.1
pox==0.3.2
ppft==1.7.6.6
prefixed==0.7.0
proglog==0.1.10
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.6
psutil==5.9.2
ptychoPINN==0.0.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.2
pydot==1.4.2
pyee==8.2.2
pyFAI==0.21.3
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyiqfeed==0.9
pykrakenapi==0.3.1
pymatgen==2022.9.8
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyportfolioopt==1.5.4
pyppeteer==1.0.2
PyQt5-sip==12.11.0
pyquery==1.4.3
pyro-api==0.1.2
pyro-ppl==1.8.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pysptools==0.15.0
python-binance==1.0.16
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.5
python-slugify==8.0.1
python-ternary==1.0.8
pytorch-warmup==0.1.0
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyudev==0.24.1
PyVirtualDisplay==1.3.2
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1648710015787/work
PyYAML==6.0
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
qdldl==0.1.5.post3
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1662018252641/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
regex==2022.3.2
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-html==0.10.0
requests-oauthlib==1.3.1
resize-right==0.0.2
rich==12.5.1
rotary-embedding-torch==0.1.5
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sacrebleu==2.3.1
scikit-image @ file:///tmp/build/80754af9/scikit-image_1648214171611/work
scikit-learn==1.1.2
scipy==1.9.1
scs==3.2.2
seaborn==0.12.0
selenium==3.141.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.99
seqeval==1.2.2
sgmllib3k==1.0.0
shap==0.41.0
shape==0.1.1
shiboken6==6.5.2
silx==1.0.0
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.7
sniffio @ file:///tmp/build/80754af9/sniffio_1614030464178/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
spglib==2.0.1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.20.4
statsmodels==0.13.5
TA-Lib==0.4.25
tabulate==0.8.10
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.11.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-addons==0.18.0
tensorflow-datasets==4.6.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.10.0
tensorflow-model-optimization==0.7.5
tensorflow-probability==0.18.0
tensorflow-text==2.13.0
termcolor==1.1.0
terminado @ file:///tmp/build/80754af9/terminado_1644322582718/work
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
text-unidecode==1.3
tf-models-official==2.13.1
tf-slim==1.1.0
tfm==0.3.3a0
threadpoolctl==3.1.0
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tiktoken==0.4.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.12.1
torch-fidelity==0.3.0
torchaudio==0.12.1
torchmetrics==0.9.3
torchvision==0.13.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.64.1
trader==0.0.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
traittypes==0.2.1
typeguard==2.13.3
typing_extensions @ file:///tmp/abs_ben9emwtky/croots/recipe/typing_extensions_1659638822008/work
tzdata==2022.5
tzlocal==4.2
ujson==5.5.0
uncertainties==3.1.7
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.18.3
uvloop==0.17.0
v==0.0.0
vector-quantize-pytorch==0.9.2
visualkeras==0.0.2
vtk==9.2.6
w3lib==2.0.1
watchfiles==0.17.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webdataset==0.2.20
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614803975924/work
websockets==10.3
Werkzeug==2.2.2
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1644992802045/work
wrapt==1.14.1
x-clip==0.9.0
xgboost==1.7.0rc1
xrdc==1.0
yahoo-fin==0.8.9.1
yarl==1.8.1
yfinance==0.1.79
zipp==3.8.1
